* {
    box-sizing: border-box;
}

:focus {
    /* TODO */
}

body {
    background-image: linear-gradient(red, yellow, green);
    min-height: 100vh;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
    margin-right: auto;
    margin-top: 350px;
    margin-left: auto;
    margin-bottom: auto;
    display: block;
    
}

.search-container {
   text-align: center;
}



.search-container input {
    /* TODO */
}

.search-container .suggestions {
    text-align: center;
}

ul {
    text-align: center;
}

.suggestions ul {
    text-align: center;
    list-style-type: none;
   
}

.suggestions ul li {
    text-align: center;
}

ul li {
    text-align: center;
}

ul li:hover {
    background-color: yellow;
    color: black;
  
    text-align: center;
}

input {
    /* TODO */
}

.match {
    color: blue;
}